{%- style -%}
  .threeah-best-sellers {
    padding: 4rem 0;
  }

  .threeah-best-sellers__container {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .threeah-best-sellers__header {
    text-align: center;
    margin-bottom: 3rem;
  }

  .threeah-best-sellers__title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
    color: #fff;
  }

  .threeah-best-sellers__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  @media screen and (min-width: 750px) {
    .threeah-best-sellers__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
{%- endstyle -%}

<div class="threeah-best-sellers">
  <div class="threeah-best-sellers__container">
    <div class="threeah-best-sellers__header">
      <h2 class="threeah-best-sellers__title">{{ section.settings.title }}</h2>
    </div>

    <div class="threeah-best-sellers__grid">
      {%- for product in collections[section.settings.collection].products limit: section.settings.products_to_show -%}
        {% render '3ah-product-card', product: product %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "3ah Best Sellers",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "LOS MÁS VENDIDOS"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Colección"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3,
      "label": "Número de productos a mostrar"
    }
  ],
  "presets": [
    {
      "name": "Los más vendidos",
      "settings": {
        "title": "LOS MÁS VENDIDOS",
        "products_to_show": 3
      }
    }
  ]
}
{% endschema %}
