{{ '3ah-selection.css' | asset_url | stylesheet_tag }}

<div class="threeah-selection">
  <div class="selection-title">{{ section.settings.section_title }}</div>
  <div class="selection-list">
    {% for block in section.blocks %}
      {% if block.settings.media != blank %}
        {% assign media_url = block.settings.media | image_url: width: 400, height: 260 %}
      {% else %}
        {% assign media_url = 'https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-image.png' %}
      {% endif %}
      {% render '3ah-selection-item', title: block.settings.title, media: media_url, link: block.settings.link %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "3ah Selection",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Título de la sección",
      "default": "UNA SELECCIÓN DE LA FIRMA"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item de selección",
      "settings": [
        { "type": "text", "id": "title", "label": "Título" },
        { "type": "image_picker", "id": "media", "label": "Imagen" },
        { "type": "url", "id": "link", "label": "Enlace" }
      ]
    }
  ],
  "presets": [
    {
      "name": "3ah Selection",
      "blocks": [
        { "type": "item", "settings": { "title": "Bolsos de verano para mujer", "link": "#" } },
        { "type": "item", "settings": { "title": "Calzado de verano para mujer", "link": "#" } },
        { "type": "item", "settings": { "title": "Calzado de verano para hombre", "link": "#" } },
        { "type": "item", "settings": { "title": "Bolsos para Hombre", "link": "#" } }
      ]
    }
  ]
}
{% endschema %}
