

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-531034400947700535.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-531034400947700535.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-531034400947700535.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-531034400947700535.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-531034400947700535.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-531034400947700535.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-531034400947700535.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-531034400947700535.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-531034400947700535.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-531034400947700535.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-531034400947700535.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-531034400947700535.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-531034400947700535.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-531034400947700535.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-531034400947700535.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-531034400947700535.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-531034400947700535.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-531034400947700535.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-531034400947700535.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-531034400947700535.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-531034400947700535.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-531034400947700535.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-531034400947700535.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-531034400947700535.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-531034400947700535.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-531034400947700535.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-531034400947700535.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-531034400947700535.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-531034400947700535.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-531034400947700535.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-531034400947700535.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-531034400947700535.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-531034400947700535.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-531034400947700535.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-531034400947700535.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-531034400947700535.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-531034400947700535.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-531034400947700535.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-531034400947700535.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-531034400947700535.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-531034400947700535.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-531034400947700535.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-531034400947700535.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-531034400947700535.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-531034400947700535.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-531034400947700535.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-531034400947700535.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-531034400947700535.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-531034400947700535.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-531034400947700535.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-531034400947700535.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-531034400947700535.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-531034400947700535.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-531034400947700535.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-531034400947700535.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-531034400947700535.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-531034400947700535.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-531034400947700535 .gp-relative{position:relative}.gps-531034400947700535 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-531034400947700535 .gp-mb-0{margin-bottom:0}.gps-531034400947700535 .gp-flex{display:flex}.gps-531034400947700535 .gp-inline-flex{display:inline-flex}.gps-531034400947700535 .gp-grid{display:grid}.gps-531034400947700535 .\!gp-hidden{display:none!important}.gps-531034400947700535 .gp-hidden{display:none}.gps-531034400947700535 .gp-max-w-full{max-width:100%}.gps-531034400947700535 .gp-flex-col{flex-direction:column}.gps-531034400947700535 .gp-items-center{align-items:center}.gps-531034400947700535 .gp-justify-center{justify-content:center}.gps-531034400947700535 .gp-gap-y-0{row-gap:0}.gps-531034400947700535 .gp-overflow-hidden{overflow:hidden}.gps-531034400947700535 .gp-leading-\[0\]{line-height:0}.gps-531034400947700535 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-531034400947700535 .gp-duration-200{transition-duration:.2s}.gps-531034400947700535 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-531034400947700535 .tablet\:\!gp-hidden{display:none!important}.gps-531034400947700535 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-531034400947700535 .mobile\:\!gp-hidden{display:none!important}.gps-531034400947700535 .mobile\:gp-hidden{display:none}}.gps-531034400947700535 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-531034400947700535 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-531034400947700535 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-531034400947700535 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-531034400947700535 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-531034400947700535 .\[\&_p\]\:gp-inline p{display:inline}.gps-531034400947700535 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-531034400947700535 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="g0MhY8b5jz" data-id="g0MhY8b5jz"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0MhY8b5jz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtfaACyVv3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gDmDT4eg5D" data-id="gDmDT4eg5D"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDmDT4eg5D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKgYYnLAJV gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-leading-[0] gnpFbHKbmb"
    >
      <div 
      data-id="gnpFbHKbmb"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#870DFF;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:50px;--h:16px;--h-tablet:16px;--h-mobile:50px;--minw:16px;--minw-tablet:16px;--minw-mobile:50px;--height-desktop:16px;--height-tablet:16px;--height-mobile:50px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817762852405608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M255.43,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A8.13,8.13,0,0,0,255.43,117ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208ZM32,136V72H176v64Zm160,72a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm0-96V88h34.58l9.6,24Z" /></svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPhEEzj6Uh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPhEEzj6Uh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPhEEzj6Uh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCOxMGIYWE gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-leading-[0] g71argbFtk"
    >
      <div 
      data-id="g71argbFtk"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#870DFF;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:50px;--h:16px;--h-tablet:16px;--h-mobile:50px;--minw:16px;--minw-tablet:16px;--minw-mobile:50px;--height-desktop:16px;--height-tablet:16px;--height-mobile:50px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125727592">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,96a16,16,0,0,0-16-16H184V48a16,16,0,0,0-16-16H40A16,16,0,0,0,24,48V176a8,8,0,0,0,13,6.22L72,154V184a16,16,0,0,0,16,16h93.59L219,230.22a8,8,0,0,0,5,1.78,8,8,0,0,0,8-8Zm-42.55,89.78a8,8,0,0,0-5-1.78H88V152h80a16,16,0,0,0,16-16V96h32V207.25Z" /></svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g583v6xvOh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g583v6xvOh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg583v6xvOh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g9PF6aLDmy" data-id="g9PF6aLDmy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9PF6aLDmy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcQDmNdqla gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-leading-[0] gVYDPwXwA4"
    >
      <div 
      data-id="gVYDPwXwA4"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#870DFF;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:50px;--h:16px;--h-tablet:16px;--h-mobile:50px;--minw:16px;--minw-tablet:16px;--minw-mobile:50px;--height-desktop:16px;--height-tablet:16px;--height-mobile:50px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723123564904">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,86.53V56a16,16,0,0,0-16-16H40A16,16,0,0,0,24,56V184a16,16,0,0,0,16,16H160v24A8,8,0,0,0,172,231l24-13.74L220,231A8,8,0,0,0,232,224V161.47a51.88,51.88,0,0,0,0-74.94ZM128,144H72a8,8,0,0,1,0-16h56a8,8,0,0,1,0,16Zm0-32H72a8,8,0,0,1,0-16h56a8,8,0,0,1,0,16Zm88,98.21-16-9.16a8,8,0,0,0-7.94,0l-16,9.16V172a51.88,51.88,0,0,0,40,0ZM196,160a36,36,0,1,1,36-36A36,36,0,0,1,196,160Z" /></svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0PfMQ4pvd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0PfMQ4pvd "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0PfMQ4pvd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh-iXzTGBj gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
      class="gp-leading-[0] g-Jh62d5s4"
    >
      <div 
      data-id="g-Jh62d5s4"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#870DFF;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:50px;--h:16px;--h-tablet:16px;--h-mobile:50px;--minw:16px;--minw-tablet:16px;--minw-mobile:50px;--height-desktop:16px;--height-tablet:16px;--height-mobile:50px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817756323774824">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,40H48A16,16,0,0,0,32,56v56c0,52.72,25.52,84.67,46.93,102.19,23.06,18.86,46,25.26,47,25.53a8,8,0,0,0,4.2,0c1-.27,23.91-6.67,47-25.53C198.48,196.67,224,164.72,224,112V56A16,16,0,0,0,208,40Zm-34.32,69.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gv0w936s0i">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gv0w936s0i "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--c:#5C5C5C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggv0w936s0i_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZJhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZthjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZNhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZxhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZFhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-531034400947700535 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=531034400159171383&sectionId=531034400947700535)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggPhEEzj6Uh_text","label":"ggPhEEzj6Uh_text","default":"<p>Envíos a toda España</p>"},{"type":"html","id":"gg583v6xvOh_text","label":"gg583v6xvOh_text","default":"<p>Escríbenos si lo necesitas</p>"},{"type":"html","id":"gg0PfMQ4pvd_text","label":"gg0PfMQ4pvd_text","default":"<p>Productos de máxima calidad</p>"},{"type":"html","id":"ggv0w936s0i_text","label":"ggv0w936s0i_text","default":"<p>Garantía gratis de 30 días</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
