

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-532676953291883422.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-532676953291883422.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-532676953291883422.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-532676953291883422.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-532676953291883422.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-532676953291883422.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-532676953291883422.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-532676953291883422.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-532676953291883422.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-532676953291883422.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-532676953291883422.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-532676953291883422.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-532676953291883422.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-532676953291883422.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-532676953291883422.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-532676953291883422.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-532676953291883422.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-532676953291883422.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-532676953291883422.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-532676953291883422.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-532676953291883422.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-532676953291883422.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-532676953291883422.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-532676953291883422.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-532676953291883422.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-532676953291883422.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-532676953291883422.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-532676953291883422.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-532676953291883422.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-532676953291883422.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-532676953291883422.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-532676953291883422.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-532676953291883422.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-532676953291883422.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-532676953291883422.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-532676953291883422.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-532676953291883422.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-532676953291883422.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-532676953291883422.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-532676953291883422.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-532676953291883422.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-532676953291883422.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-532676953291883422.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-532676953291883422.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-532676953291883422.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-532676953291883422.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-532676953291883422.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-532676953291883422.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-532676953291883422.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-532676953291883422.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-532676953291883422.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-532676953291883422.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-532676953291883422.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-532676953291883422.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-532676953291883422.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-532676953291883422.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-532676953291883422.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-532676953291883422.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-532676953291883422.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-532676953291883422.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-532676953291883422.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-532676953291883422.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-532676953291883422.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-532676953291883422.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-532676953291883422.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-532676953291883422.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-532676953291883422.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-532676953291883422.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-532676953291883422.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-532676953291883422.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-532676953291883422.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-532676953291883422.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-532676953291883422.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-532676953291883422.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-532676953291883422 .gp-relative{position:relative}.gps-532676953291883422 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-532676953291883422 .gp-mb-0{margin-bottom:0}.gps-532676953291883422 .gp-flex{display:flex}.gps-532676953291883422 .gp-inline-flex{display:inline-flex}.gps-532676953291883422 .gp-grid{display:grid}.gps-532676953291883422 .gp-contents{display:contents}.gps-532676953291883422 .\!gp-hidden{display:none!important}.gps-532676953291883422 .gp-hidden{display:none}.gps-532676953291883422 .gp-h-full{height:100%}.gps-532676953291883422 .gp-w-full{width:100%}.gps-532676953291883422 .gp-max-w-full{max-width:100%}.gps-532676953291883422 .gp-shrink-0{flex-shrink:0}.gps-532676953291883422 .gp-flex-col{flex-direction:column}.gps-532676953291883422 .gp-items-center{align-items:center}.gps-532676953291883422 .gp-justify-center{justify-content:center}.gps-532676953291883422 .gp-gap-y-0{row-gap:0}.gps-532676953291883422 .gp-overflow-hidden{overflow:hidden}.gps-532676953291883422 .gp-text-left{text-align:left}.gps-532676953291883422 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-532676953291883422 .gp-duration-200{transition-duration:.2s}.gps-532676953291883422 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-532676953291883422 .tablet\:\!gp-hidden{display:none!important}.gps-532676953291883422 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-532676953291883422 .mobile\:\!gp-hidden{display:none!important}.gps-532676953291883422 .mobile\:gp-hidden{display:none}}.gps-532676953291883422 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-532676953291883422 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-532676953291883422 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-532676953291883422 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-532676953291883422 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-532676953291883422 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-532676953291883422 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-532676953291883422 .\[\&_p\]\:gp-inline p{display:inline}.gps-532676953291883422 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-532676953291883422 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gU6Uqf-0L_" data-id="gU6Uqf-0L_"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU6Uqf-0L_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP8msw-YBn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gv7eRxlEGK"
    role="presentation"
    class="gp-group/image gv7eRxlEGK"
    style="--bs:solid;--bs-mobile:none;--bw:0px;--bw-mobile:2px 2px 2px 2px;--bc:#121212;--bc-mobile:#870DFF;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb-mobile:32px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_527701169523393489-b1c419bd-b4ab-405b-b56b-6853c804cb03_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAyNCIgaGVpZ2h0PSI0MDMyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDI0LTQwMzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMjQiIGhlaWdodD0iNDAzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAyNCIgaGVpZ2h0PSI0MDMyIiBmaWxsPSJ1cmwoI2ctMzAyNC00MDMyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAyNCIgdG89IjMwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div><div gp-el-wrapper  class="gbRJ1Pti36 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gbRJ1Pti36"
      data-id="gbRJ1Pti36"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":16}}'
       style="--mr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gbRJ1Pti36"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#ffffff;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606067028328">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,42a94,94,0,1,0,94,94A94.11,94.11,0,0,0,128,42Zm0,176a82,82,0,1,1,82-82A82.1,82.1,0,0,1,128,218ZM60.24,36.24l-32,32a6,6,0,1,1-8.48-8.48l32-32a6,6,0,1,1,8.48,8.48Zm176,32a6,6,0,0,1-8.48,0l-32-32a6,6,0,0,1,8.48-8.48l32,32A6,6,0,0,1,236.24,68.24ZM184,130a6,6,0,0,1,0,12H128a6,6,0,0,1-6-6V80a6,6,0,0,1,12,0v50Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#870dff;--tt:uppercase">
                {{ section.settings.ggbRJ1Pti36_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghx12Xqoyf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghx12Xqoyf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Helvetica, 'Helvetica'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghx12Xqoyf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZJhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZthjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZNhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZxhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZFhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-532676953291883422 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=531034400159171383&sectionId=532676953291883422)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbRJ1Pti36_childItem_0","label":"ggbRJ1Pti36_childItem_0","default":"<p>Moldeable durante 24 horas</p>"},{"type":"html","id":"gghx12Xqoyf_text","label":"gghx12Xqoyf_text","default":"<p>Permite remodelar y ajustar el peinado durante 24 horas, sin perder el control sobre tu cabello.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
