

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533199659032642536.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-533199659032642536.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533199659032642536.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533199659032642536.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533199659032642536.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533199659032642536.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533199659032642536.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533199659032642536.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533199659032642536.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533199659032642536.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533199659032642536.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533199659032642536.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533199659032642536.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533199659032642536.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533199659032642536.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533199659032642536.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533199659032642536.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533199659032642536.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533199659032642536.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533199659032642536.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533199659032642536.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533199659032642536.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533199659032642536.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533199659032642536.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533199659032642536.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533199659032642536.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533199659032642536.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533199659032642536.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533199659032642536.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533199659032642536.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533199659032642536.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533199659032642536.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533199659032642536.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533199659032642536.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533199659032642536.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-533199659032642536.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533199659032642536.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533199659032642536.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533199659032642536.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533199659032642536.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533199659032642536.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533199659032642536.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533199659032642536.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533199659032642536.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533199659032642536.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533199659032642536.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533199659032642536.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533199659032642536 .-gp-translate-x-1\/2,.gps-533199659032642536 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-533199659032642536 .gp-visible{visibility:visible}.gps-533199659032642536 .gp-invisible{visibility:hidden}.gps-533199659032642536 .gp-absolute{position:absolute}.gps-533199659032642536 .gp-relative{position:relative}.gps-533199659032642536 .gp-left-1\/2{left:50%}.gps-533199659032642536 .gp-top-1\/2{top:50%}.gps-533199659032642536 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533199659032642536 .gp-mb-0{margin-bottom:0}.gps-533199659032642536 .gp-flex{display:flex}.gps-533199659032642536 .gp-grid{display:grid}.gps-533199659032642536 .\!gp-hidden{display:none!important}.gps-533199659032642536 .gp-hidden{display:none}.gps-533199659032642536 .gp-h-full{height:100%}.gps-533199659032642536 .gp-w-\[68px\]{width:68px}.gps-533199659032642536 .gp-w-full{width:100%}.gps-533199659032642536 .\!gp-max-w-none{max-width:none!important}.gps-533199659032642536 .gp-max-w-full{max-width:100%}.gps-533199659032642536 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-533199659032642536 .-gp-translate-x-1\/2,.gps-533199659032642536 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-533199659032642536 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-533199659032642536 .gp-flex-col{flex-direction:column}.gps-533199659032642536 .gp-gap-y-0{row-gap:0}.gps-533199659032642536 .gp-overflow-hidden{overflow:hidden}.gps-533199659032642536 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-533199659032642536 .gp-bg-cover{background-size:cover}.gps-533199659032642536 .gp-bg-center{background-position:50%}.gps-533199659032642536 .gp-opacity-100{opacity:1}.gps-533199659032642536 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533199659032642536 .gp-duration-200{transition-duration:.2s}.gps-533199659032642536 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-533199659032642536 .tablet\:\!gp-hidden{display:none!important}.gps-533199659032642536 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533199659032642536 .mobile\:\!gp-hidden{display:none!important}.gps-533199659032642536 .mobile\:gp-hidden{display:none}}.gps-533199659032642536 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533199659032642536 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-533199659032642536 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-533199659032642536 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-533199659032642536 .\[\&_p\]\:gp-inline p{display:inline}.gps-533199659032642536 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-533199659032642536 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gRfig_X0VD" data-id="gRfig_X0VD"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRfig_X0VD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghWXVPU8dv gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDtoVL1BCD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDtoVL1BCD "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDtoVL1BCD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    <div
      
      data-id="gxfg3pUWrB"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gxfg3pUWrB"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:16/9"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/2ZEoya9nEp4?autoplay=1&state=1&mute=1&&controls=1"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--aspect:16/9"
      >
        
  <img
      id="gp-video-gxfg3pUWrB"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="https://i.ytimg.com/vi/2ZEoya9nEp4/hqdefault.jpg" data-srcset="https://i.ytimg.com/vi/2ZEoya9nEp4/hqdefault.jpg" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZJhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZthjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZNhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZxhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZFhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-533199659032642536 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/3ah-barber-supplies/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=533199348637369102&sectionId=533199659032642536)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDtoVL1BCD_text","label":"ggDtoVL1BCD_text","default":"<p>Maquina de Cortar pelo JRL Onyx</p><p>🏎️Dos&nbsp;<strong>velocidades</strong> 6000 y 7500 RPM con&nbsp;Motor silencioso</p><p>❄️Tecnología patentada Cool Blade&nbsp;con una hoja de precisión <strong>Onyx Fade</strong></p><p>🔋Tecnología patentada Reset IQ Charge: <strong>extiende la vida útil</strong> de la batería. <strong>Base de carga incluida&nbsp;5 horas de funcionamiento.</strong></p><p>🥇Garantiza un <strong>corte suave</strong> y <strong>uniforme</strong> en todo momento.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
